<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Ubah Penerbangan Berhasil</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container mt-4 pl-5 pr-5 pt-5" >
    <h2 style="text-align: center; margin-bottom: 3rem" th:text="'Penerbangan ' + ${penerbangan.nomorPenerbangan} + ' berhasil diubah'"></h2>
    <a style="text-align: center; display: block" href="/penerbangan">Kembali ke Daftar Penerbangan</a>
</div>
</body>
</html>